.totals {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__total {
  margin-top: 0.5rem;
  color: #025159;
}

.totals__total.subtotal {
  font-weight: 400;

  @media (min-width: 1200px) {
    font-size: calc(1.9rem * var(--scale)) !important;
  }
}

.totals__total-value {
  font-size: 1.8rem;
  color: #025159;
}

.totals__total-value.subtotal {
  font-weight: 400;

  @media (min-width: 1200px) {
    font-size: calc(1.9rem * var(--scale)) !important;
  }
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: space-between;
    padding: 0;
  }
}
