.footer {
  background-color: var(--dark);
  margin: 0px;
  color: white !important;
  font-family: var(--font-body-family) !important;
  padding-block: 4rem;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    /* flex-direction: row;
    justify-content: center; */
    padding-top: calc(8.4rem * var(--scale));
    padding-bottom: calc(6rem * var(--scale));
    padding-inline: calc(6rem * var(--scale));
    gap: calc(8.9rem * var(--scale));
  }
  section {
    h4 {
      color: white !important;
      font-family: var(--font-body-family) !important;
      font-size: 1.6rem;
      line-height: 1.98rem;

      @media (min-width: 1200px) {
        font-size: calc(2rem * var(--scale));
        line-height: calc(2.48rem * var(--scale));
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 2.24rem;
      opacity: 0.9;

      @media (min-width: 1200px) {
        font-size: calc(1.7rem * var(--scale));
        line-height: calc(2.72rem * var(--scale));
      }
    }

    div {
      h4 {
        color: white !important;
        font-family: var(--font-body-family) !important;
        font-size: 1.6rem;
        line-height: 1.98rem;

        @media (min-width: 1200px) {
          font-size: calc(2rem * var(--scale));
          line-height: calc(2.48rem * var(--scale));
        }
      }
      ul {
        list-style: none;
        padding-left: 0px;

        li {
          font-size: 1.4rem;
          line-height: 2.24rem;
          opacity: 0.9;

          @media (min-width: 1200px) {
            font-size: calc(1.7rem * var(--scale));
            line-height: calc(2.72rem * var(--scale));
          }

          a {
            text-decoration: none;
            color: white;
            font-size: 1.4rem;
            line-height: 2.24rem;
            opacity: 0.9;

            @media (min-width: 1200px) {
              font-size: calc(1.7rem * var(--scale));
              line-height: calc(2.72rem * var(--scale));
            }
          }
        }
      }
    }
  }

  section:last-child {
    text-align: center;
    display: none;
  }

  @media screen and (min-width: 1200px) {
    section:nth-child(1) {
      width: calc(34rem * var(--scale));
    }

    section:nth-child(2) {
      display: flex;
      gap: calc(8rem * var(--scale));
    }
  }
}

.footer-container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: center;
    gap: calc(8rem * var(--scale));
  }
}

.footer-copyright {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    font-size: calc(1.8rem * var(--scale));
    line-height: calc(2.21rem * var(--scale));
    opacity: 0.9;
  }
}
