.infoheader{
  background: #025159;
  height: calc(5.2rem * var(--scale));
  display: flex;
  align-items: center;
  
}

.infoheader-list {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.infoheader-links {
  display: flex;
}

.infoheader li {
  font-size: calc(rem * var(--scale));
  line-height: calc(2.94rem * var(--scale));
  list-style: none;
  color: white;
}
