.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
  font-family: var(--fontBody);
  color: #eb001b;
}

.contact .form-status.form-status-list.form__message {
  color: #017b87;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: 1.5rem;
  &:after {
    border-color: none;
  }
}

@media screen and (min-width: 750px) {
  .contact .field {
    margin-bottom: 2rem;
  }
}

.contact__button {
  margin-top: 2rem;
  background-color: var(--primary);
  border-radius: 3rem;
  border: none;
  padding: 1rem 4.5rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 500;

  @media (min-width: 1200px) {
    padding: calc(1rem * var(--scale)) calc(5.3rem * var(--scale));
  }
}

@media screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .container2 {
    padding-block: calc(5rem * var(--scale));
  }

  .contact__button {
    font-size: calc(1.7rem * var(--scale));
    padding: calc(1.2rem * var(--scale)) calc(5.5rem * var(--scale));
  }
}
