.infoheader{
  background: #025159;
}

.infoheader-list {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.infoheader li {
    font-size: calc(rem * var(--scale));
    line-height: calc(2.94rem * var(--scale));
    list-style: none;
    color: white;
}